body {
    padding-left: 15px;
}
h1 a {
    color: #C390D4;
    font-family: 'Lobster';
}

p {
  color: #213819;
font-family: 'fantasy';
}

.page-header {
    background-color: #377B91;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #213819;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'font-family: 'sans-serif', cursive;
}
